.gitee/**
.vscode/**
.git/**
.vscode-test/**
tests/**
src/**
node_modules/**
**/*.map
**/*.sh
*.lock

.eslintignore
.eslintrc.json
.gitignore
.npmignore
.npmrc
.travis.yml
.yarnrc
token
tsconfig.json
*.md
